body {
  font-family: system-ui;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
}

.introduction-header {
  margin-bottom: 1em;

  font-size: 3em;
  font-weight: 600;
}

.introduction-content {
  width: 100%;
  max-width: 600px;
  line-height: 1.6;
}

.articleList {
  margin-top: 2em;
}

.articleList-header {
  font-size: 2em;
  margin-bottom: .8em;
}
