html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 5%;
  margin: 40px auto;
}

.introduction {
  margin-bottom: 2em;
}

.introduction-header {
  margin-bottom: 1em;

  font-size: 3em;
  font-weight: 600;
  line-height: 1.2;
}

.introduction-content {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1em;

  line-height: 1.6;
}

.articleList {
}

.articleList-header {
  font-size: 2em;
  margin-bottom: .8em;
}
