---
layout: layout/home.njk
title: Home
---
<header>
	<h1>Hi, I'm Rizaldi</h1>
	<p>
	I'm a software developer living in Jakarta, Indonesia.
	Most of my work has been in front-end development,
	either writing Android apps or website.
	Currently I work for <a href="https://bridestory.com">Bridestory</a>.
	</p>
</header>

<section class="l-stack-small">
	<h2>Posts</h2>
	<ol>
		{% for post in collections.posts %}
			<li>
				<a href="{{ post.url | url }}">
					{{ post.data.title }}
				</a>
				<time datetime="{{ post.date | readableDate("yyyy-LL-dd") }}">
					({{ post.date | readableDate("LLL dd, yyyy") }})
				</time>
			</li>
		{% endfor %}
	</ol>
</section>