:root {
	--color-accent: #e81c4f;

	--fs-largest: 4.5rem;
	--fs-larger: 3.75rem;
	--fs-large-3: 3rem;
	--fs-large-2: 2.25rem;
	--fs-large-1: 1.875rem;
	--fs-medium-3: 1.5rem;
	--fs-medium-2: 1.25rem;
	--fs-medium-1: 1.125rem;
	--fs-base: 1rem;
	--fs-small-2: .875rem;
	--fs-small-1: .75rem;
}