html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: system-ui;
}

.container {
  margin: 40px auto;
  max-width: 800px;
  padding: 0 5%;
  width: 100%;
}

.introduction {
  margin-bottom: 2em;
}

.introduction-header {
  font-size: 3em;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1em;
}

.introduction-content {
  line-height: 1.6;
  margin-bottom: 1em;
  max-width: 800px;
  width: 100%;
}

.articleList-header {
  font-size: 2em;
  margin-bottom: .8em;
}

.articleList-listItem {
  display: flex;
  flex-wrap: nowrap;
}

.articleList-itemLink {
  flex-grow: 1;
}

.articleList-itemDate {
  font-size: .75em;
  margin-left: 10px;
  text-align: right;
  vertical-align: bottom;
  width: 200px;
}

.postHeader {
  margin-bottom: 60px;
}

.postHeader-title {
  font-size: 3em;
  font-weight: 600;
  margin-bottom: 10px;
}

.postHeader-date {
  font-size: .875em;
}

.postContent p {
  line-height: 1.6;
}