:root {
	--ratio: 1.5;
	--s0: calc(var(--s0) / var(--ratio));
	--s1: 1rem;
	--s2: calc(var(--s1) * var(--ratio));
	--s3: calc(var(--s2) * var(--ratio));
	--s4: calc(var(--s3) * var(--ratio));
	--s5: calc(var(--s4) * var(--ratio));
}