<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% set css %}
      {% include "css/reset.css" %}
      {% include "css/system-font.css" %}
      {% include "css/style.css" %}
    {% endset %}
    <style type="text/css">{{ css | cssmin | safe }}</style>
    <title>{{ title }} - {{ metadata.title }}</title>
  </head>
  <body>
    <div class="container">
    {{ content | safe }}
    </div>
  </body>
</html>